<my-header>
  <header>
    <a href="/">
      <img src="/static/logo.svg" alt="" >
    </a>
    <a href="/">
      <h1 >FishCastle</h1>
    </a>
    <a href="#" style={{textDecoration: "none"}}>
    <svg width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="<http://www.w3.org/2000/svg>">
      <path d="" fill="#9094FF"/>
    </svg>
    <span></span>
    </a>
  </header>
</my-header>