<home>
  <product product={ product } />

  <script>
    import Product from '../components/includes/product/product.riot';

    export default {
      components: {
        Product
      },
      product: {
        id: 12345,
        name: "product name",
        price: 999,
        description: 'hogehoge',
        image: {
          src: "https://placeimg.com/640/480/animals",
          alt: 'animals'
        }
      }
    }
  </script>
</home>
