<home>
  <product-list products={ products } />

  <script>
    import ProductList from '../components/includes/product-list/productList.riot';
    import initialProducts from '../fixtures/productList';

    export default {
      components: {
        ProductList
      },
      products: initialProducts
    }
  </script>
</home>
